In [19]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [20]:
'Pluto\'s a planet!'

"Pluto's a planet!"

In [21]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)

hello
world

### Strings are sequences

In [22]:
planet = 'Pluto'
planet[3]

't'

In [23]:
len(planet)

5

In [24]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [25]:
planet.upper()

'PLUTO'

In [26]:
planet.lower()

'pluto'

In [27]:
planet.startswith('a')

False

In [28]:
planet.endswith('o')

True

In [29]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
print(year)
print(month)
print(day)

1956
01
31

In [30]:
' üëè '.join([word.upper() for word in planet])

'P üëè L üëè U üëè T üëè O'

In [31]:
"{}, you'll always be the {}th planet to me.".format(planet, 'postiiton')

"Pluto, you'll always be the postiitonth planet to me."

In [32]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

---